/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

/* Carrusel */
.carousel {
    position: relative;
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel-track {
    list-style: none; /* Quita los puntos */
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    text-align: center;
    
}

.carousel-slide img {
    width: 75%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.carousel-slide h2 {
    margin: 0.5rem 0;
    color: #333;
}

.carousel-slide p {
    font-size: 0.9rem;
    color: #555;
}

.carousel-button {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
