/* General */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .logo h1 {
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ff6347;
}

/* Main sections */
main {
    padding: 4rem 2rem 2rem; /* Espacio superior para que no se solape con el header fijo */
    flex: 1;
    text-align: center; /* Centra todo el contenido del main */
}

article {
    margin: 2rem 0;
}

article h2 {
    font-size: 2.5rem;
    color: #333;
    margin-top: 20px;
}

/* Aseguramos que el selector de proyectos tenga flexbox para centrar los elementos */
.project-selector {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    gap: 1rem;
    justify-content: center; /* Centra los proyectos horizontalmente */
    align-items: center; /* Centra los proyectos verticalmente si la altura es mayor */
    flex-wrap: wrap; /* Permite que los proyectos se acomoden bien en pantallas pequeñas */
}

.project {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra las imágenes y el texto dentro del proyecto */
    justify-content: center; /* Asegura que el contenido esté centrado */
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid #ff6347;
}

.project h3 {
    font-size: 1.2rem;
    color: #333;
    padding: 1rem;
    background-color: #f4f4f4;
    margin: 0;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1rem;
}
